/*
* style.css
*/

/*************************************************************
                GENERAL
**************************************************************/
body{
    font-family: Cerebri,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    outline: none;
    
}
