/*
* style.css
*/

/*************************************************************
                GENERAL
**************************************************************/
body{
    font-family: Cerebri,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    outline: none;
    
}



/***************************************************************
                       FOOTER
****************************************************************/
.footer {
    background: #5e728d;
    height: 9rem;

}